
/* Styling the labels */
label {
    display: block; /* Make label take full width */
    font-weight: bold; /* Bold text for better readability */
    margin-bottom: 5px; /* Add space between label and input */
    color: #333; /* Text color */
}

/* Styling the input containers */
.card.flex.justify-center {
    margin-bottom: 15px; 
}

/* Submit button styling */
p-button {
    margin-top: 20px; /* Add space above the button */
    width: 100%; /* Make the button full width */
}

/* For responsive design */
@media (max-width: 500px) {
    p-card {
        width: 90%; /* Adjust card width for smaller screens */
    }
}


.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .error-message small {
    color: red;
    font-size: 0.9rem;
}
.error-message small {
    color: red;
    font-size: 0.9rem;
}

