<p-card header="Change Password">
    <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)">
        
        <!-- Current Password Field -->
        <label for="currentPassword">Current Password</label>
        <div class="card flex justify-center">
            <p-password
                [(ngModel)]="currentPassword"
                id="currentPassword"
                name="currentPassword"
                [toggleMask]="true"
                [placeholder]="'Enter your password'"
                inputStyleClass="p-inputtext-sm"
                required
                minlength="6"
                #passwordControl="ngModel"
            ></p-password>
        </div> 
         <!-- Error Messages -->
        <div *ngIf="passwordControl.invalid && passwordControl.touched" class="error-message">
            <small *ngIf="passwordControl.errors?.required">Password is required.</small>
            <small *ngIf="passwordControl.errors?.minlength">
                Password must be at least 6 characters long.
            </small>
        </div>

        <!-- New Password Field -->
        <label for="newPassword">New Password</label>
            <div class="card flex justify-center">
                <p-password
                    [(ngModel)]="newPassword"
                    id="newPassword"
                    name="newPassword"
                    [toggleMask]="true"
                    [placeholder]="'Enter your new password'"
                    inputStyleClass="p-inputtext-sm"
                    required
                    minlength="6"
                    #newPasswordControl="ngModel"
                ></p-password>
            </div>
        
            <!-- Error Messages -->
            <div *ngIf="newPasswordControl.invalid && newPasswordControl.touched" class="error-message">
                <small *ngIf="newPasswordControl.errors?.required">Password is required.</small>
                <small *ngIf="newPasswordControl.errors?.minlength">
                    Password must be at least 6 characters long.
                </small>
            </div>

   

    <!-- Confirm New Password Field -->
    <label for="confirmNewPassword">Confirm New Password</label>
    <div class="card flex justify-center">
        <p-password
            [(ngModel)]="confirmNewPassword"
            id="confirmNewPassword"
            name="confirmNewPassword"
            [toggleMask]="true"
            [placeholder]="'Confirm your new password'"
            inputStyleClass="p-inputtext-sm"
            required
            minlength="6"
            [compareWith]="newPassword"
            #confirmPasswordControl="ngModel"
        ></p-password>
    </div>

    <!-- Error Messages -->
    <div *ngIf="confirmPasswordControl.invalid && confirmPasswordControl.touched" class="error-message">
        <small *ngIf="confirmPasswordControl.errors?.required">Confirm password is required.</small>
        <small *ngIf="confirmPasswordControl.errors?.minlength">
            Confirm password must be at least 6 characters long.
        </small>
        <small *ngIf="confirmPasswordControl.errors?.compareWith">
            Passwords do not match.
        </small>
    </div>


<div class="card flex justify-center">
    <p-button label="Submit" />
</div>
</form>
</p-card>