<div class="card justify-content-center w-50">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="p-fluid">
    <p-card header="Change Password" class="mx-auto border-round p-3"
      [ngStyle]="{ 'max-width': '400px', 'text-align': 'center' }">
      <!-- Current Password -->
      <div class="p-field grid mb-3">
        <label for="currentPassword" class="col-6 font-medium text-left">Current Password</label>
        <div class="col-6 md:col-12">
          <p-password formControlName="currentPassword" toggleMask="true" class="w-full" variant="filled"></p-password>
          <div *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched"
            class="p-error block mt-2 text-sm text-left">
            Current Password is required.
          </div>
        </div>
      </div>

      <!-- New Password -->
      <div class="p-field grid mb-3">
        <label for="newPassword" class="col-6 font-medium text-left">New Password</label>
        <div class="col-6 md:col-12">
          <p-password formControlName="newPassword" toggleMask="true" class="w-full" variant="filled"></p-password>
          <div *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched"
            class="p-error block mt-2 text-sm text-left">
            New Password is required.
          </div>
        </div>
      </div>

      <!-- Confirm New Password -->
      <div class="p-field grid mb-3">
        <label for="confirmPassword" class="col-6 font-medium text-left">Confirm Password</label>
        <div class="col-6 md:col-12">
          <p-password formControlName="confirmPassword" toggleMask="true" class="w-full" variant="filled"></p-password>
          <div *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched"
            class="p-error block mt-2 text-sm text-left">
            Confirm Password is required.
          </div>
          <div *ngIf="passwordForm.hasError('mismatch') && passwordForm.touched"
            class="p-error block mt-2 text-sm text-left">
            Passwords do not match.
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="grid justify-content-center mt-3">
        <p-button label="Change Password" severity="help" type="submit" [disabled]="passwordForm.invalid"></p-button>
      </div>
    </p-card>
  </form>
</div>
