
p-dialog h2,
p-dialog h3 {
  margin: 0;
  padding: 0;
}

p-dialog {
  text-align: center;
}

p-table {
  width: 100%;
}

button {
  margin: 10px;
  
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  .company-name {
    font-size: 24px;
    color: #343a40;
    margin: 0;
  }
  
  .menubar-start {
    display: flex;
    gap: 20px;
  }
  
  p-menubar {
    margin-top: 10px;
  }

  .dialog-content {
    text-align: center;
}

.attendance-panel {
  font-size: 1.5em;
  font-weight: bold;
  color: #5A5A5A;
  margin-bottom: 20px;
}

.attendance-header {
    font-size: 1.5em;
    font-weight: bold;
    color: #5A5A5A;
    margin-bottom: 20px;
}

.time-box {
    font-size: 2em;
    color: #5A5A5A;
   
    padding: 10px;
    margin: 20px 0;
    
    border-radius: 10px;
    
}

.punch-in-button {
    margin-top: 20px;
    background-color: #bebebe;
}

p-table {
    width: 100%;
}

button {
    margin: 10px;
}

.avatar-image {
  margin: 20px;
  
}

 
.container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box; 
}

.fc {
  font-size: 1rem; 
}
 
@media (max-width: 320px) {
 
  .fc {
    font-size: 0.7rem; 
  }
 
  .fc-daygrid-day-number {
    font-size: 0.6em; 
  }
}
 
@media (min-width: 321px) and (max-width: 768px) {

  .fc {
    font-size: 0.8rem; 
  }
}
 
@media (min-width: 769px) and (max-width: 992px) {
 
  .fc {
    font-size: 0.9rem;
  }
}
 
@media (min-width: 993px) {

  .fc {
    font-size: 1rem;
  }
 
  .fc-daygrid-day-number {
    font-size: 0.8em; 
  }
}
 