
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.company-name {
  font-size: 24px;
  color: #343a40;
  margin: 0;
}

.menubar-start {
  margin-top: 10px;
}

.dialog-content {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  height: 400px; /* Adjust as needed */
  width: 300px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  
}

.avatar-image {
  margin: 20px;
}

.attendance-panel {
  font-size: 1.5em;
  font-weight: bold;
  color: #5a5a5a;
  margin-bottom: 20px;
}

.font-size-lg {
  font-size: 2em;
  color: #5a5a5a;
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
}

.punch-in-button {
  margin-top: 20px;
  background-color: #bebebe;
}

.container {
  width: 100%;
  min-height: calc(100vh - 100px); /* Adjust 100px based on your footer height */
  box-sizing: border-box;
  z-index: 1;
}

.fc {
  font-size: 1rem;
}

@media (max-width: 320px) {
  .attendance-panel {
    font-size: 1.2em;
  }
  .font-size-lg {
    font-size: 1em;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .attendance-panel {
    font-size: 1.3em;
  }
  .font-size-lg {
    font-size: 1.2em;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .attendance-panel {
    font-size: 1.4em;
  }
  .font-size-lg {
    font-size: 1.5em;
  }
}

@media (min-width: 993px) {
  .attendance-panel {
    font-size: 1.5em;
  }
  .font-size-lg {
    font-size: 2em;
  }
}
