<div class="container">

  <!-- Punch In Dialog -->
  <p-dialog [(visible)]="displayPunchInDialog" [modal]="true" [closable]="false" class="text-center">
    <div class="dialog-content">
      <h2>Attendance</h2>
      <p-avatar image="https://cdn-icons-png.flaticon.com/512/1869/1869397.png" shape="circle" size="xlarge" class="avatar-image"></p-avatar>
      <div class="attendance-panel">{{ attendance_date }}</div>
      <div class="font-size-lg">{{ currentTime }}</div>
      <p-button label="Punch In" icon="pi pi-check" (click)="punchIn()" class="punch-in-button"></p-button>
    </div>
  </p-dialog>

  <!-- Attendance Records Table -->
  <p-table [value]="attendanceRecords" class="mt-4">
    <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th>Break</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
      <tr>
        <td>{{ record.date }}</td>
        <td>{{ record.checkIn }}</td>
        <td>{{ record.checkOut }}</td>
        <td>{{ record.break }}</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Checkout Button -->
  <div class="flex justify-content-center gap-2 mt-4">
    <p-button label="Checkout" icon="pi pi-times" (click)="checkout()"></p-button>
  </div>
</div>
