<div class="container">
    <h1>Employees</h1>

    <div class="card flex justify-content-end">
        <p-button label="Add Employee" icon="pi pi-plus" (click)="showDialog = true; prepareEmployee()"></p-button>
    </div>

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Department</th>
                <th>Role</th>
                <th>Joining Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.password }}</td> <!-- Added Password Column -->
                <td>{{ employee.mobileNumber }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.department }}</td>
                <td>{{ employee.role }}</td>
                <td>{{ employee.joiningDate }}</td>
                <td>
                    <p-button icon="pi pi-pencil" class="p-button-rounded mx-2" (click)="editEmployee(employee)"></p-button>
                    <p-button icon="pi pi-trash" class="p-button-rounded" (click)="deleteEmployee(employee.id)"></p-button>
                </td>
            </tr>
        </tbody>
    </table>
    
    
