/* .help-page {
  text-align: center;
  

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;

    .highlight {
      color: red;
    }
  }

  p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }

  
  .faq-card,
  .contact-card {

    margin-top: 2rem;
    padding: 1.5rem;
    width: 50%;
    max-width: 600px;
  }
}

.contact-card button {
  margin-left: 1rem;
  vertical-align: middle;

}

.faq-card .p-accordion .p-accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-card .p-accordion .p-accordion-header span {
  font-size: 1.2rem;
  font-weight: bold;
}
 */
