<p-toast></p-toast>

<section class="p-m-4">
  <div class="flex justify-content-center">
    <div class="surface-card p-4 shadow-2 border-round w-full md:w-8 lg:w-6">
      <div class="text-center mb-4">
        <p-avatar icon="pi pi-user" size="xlarge" shape="circle" class="mb-3"></p-avatar>
        <h3>Update Profile</h3>
      </div>

      <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)" class="p-fluid">
        <div class="formgrid grid">
          <div class="field col-12 md:col-6">
            <label for="firstName">First Name</label>
            <input pInputText id="firstName" name="firstName" [(ngModel)]="employee.firstName" required />
          </div>

          <div class="field col-12 md:col-6">
            <label for="lastName">Last Name</label>
            <input pInputText id="lastName" name="lastName" [(ngModel)]="employee.lastName" required />
          </div>

          <div class="field col-12 md:col-6">
            <label for="email">Email</label>
            <input pInputText type="email" id="email" name="email" [(ngModel)]="employee.emailId" required />
          </div>

          <div class="field col-12 md:col-6">
            <label for="mobile">Phone Number</label>
            <input pInputText type="tel" id="mobile" name="mobile" [(ngModel)]="employee.mobile" required />
          </div>

          <div class="field col-12 md:col-6">
            <label for="department">Department</label>
            <p-dropdown id="department" name="department" [options]="departments"
            optionLabel="departmentName" [(ngModel)]="employee.departments"
              placeholder="Select Department"></p-dropdown>
          </div>

          <div class="field col-12 md:col-6">
            <label for="role">Designation</label>
            <input pInputText id="role" name="role" [(ngModel)]="employee.role" required />
          </div>

          <div class="field col-12 md:col-6">
            <label for="joiningDate">Joining Date</label>
            <p-calendar inputId="joiningDate" [(ngModel)]="employee.joiningDate" name="joiningDate"
              dateFormat="yy-mm-dd"></p-calendar>
          </div>

          <div class="field col-12">
            <label for="address">Address</label>
            <textarea pInputTextarea id="address" name="address" [(ngModel)]="employee.address" rows="3"
              required></textarea>
          </div>
        </div>

        <div class="flex justify-content-center mt-4 p-col-12 p-md-6">
          <div class="text-center">
            <button pButton label="Update"  type="submit"
              class="p-button-primary p-button-sm"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>