<div class="container flex flex-column p-4 bg-gray-50 h-screen">
    <div class="card">
        <p-tabView>
            <p-tabPanel header="Department">
                <!-- Abhishek -->

                


            </p-tabPanel>

            <p-tabPanel header="Roles">
                <!-- Shweta -->
           
               
                 
           </p-tabPanel>

            <p-tabPanel header="Manager">
                <!-- Prajakta, Bhushan -->
                <p>




                 </p> 
            </p-tabPanel> 
        </p-tabView>
    </div>
</div>