


.active-link-blue {
  color: black !important; /* Tailwind's blue-600 hex or pick your blue */
}
/* ::ng-deep .custom-sidebar {
  top: 64px !important; 
  height: calc(100% - 64px) !important;
} */

::ng-deep .custom-sidebar {
  top: 73px !important; /* Adjust to your actual toolbar height */
  height: calc(100% - 73px); /* Adjust height so it doesn’t overflow */
}