<p-toolbar styleClass="bg-blue-900 shadow-2 custom-toolbar"
    [style]="{ 'background-image': 'linear-gradient(to right, var(--blue-500), var(--blue-800))', 'padding': '2px' }">

    <ng-template pTemplate="start">
        <img class="w-25 h-25"
            src="https://img1.wsimg.com/isteam/ip/957d1ef6-9f8d-4653-a4c2-121d6b896ba7/blob.png/:/rs=h:100,cg=true,m/qt=q:95" />
    </ng-template>

    <ng-template pTemplate="center">
        <div class="flex align-items-center gap-2 flex-wrap justify-content-center md:gap-3">
            <button *ngIf="isEmployee" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-6rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200 m-1 p-2 sm:w-5rem md:w-6rem" routerLink="dashboard">
                Dashboard
            </button>
            <button *ngIf="isEmployee" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-6rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200 m-1 p-2 sm:w-5rem md:w-6rem" routerLink="attendance">
                Attendance
            </button>
            <button *ngIf="isEmployee" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-6rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200 m-1 p-2 sm:w-5rem md:w-6rem" routerLink="leave">
                Leave
            </button>
            <button *ngIf="isEmployee" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-6rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200 m-1 p-2 sm:w-5rem md:w-6rem" routerLink="holidays">
                Holidays
            </button>
            <button *ngIf="isEmployee" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-6rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200 m-1 p-2 sm:w-5rem md:w-6rem" routerLink="history">
                History
            </button>
            <button *ngIf="isEmployee" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-6rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200 m-1 p-2 sm:w-5rem md:w-6rem" routerLink="help">
                Help
            </button>

            <button *ngIf="isAdmin" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-8rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200 mx-3 p-2 sm:w-5rem md:w-6rem" routerLink="allattendance">
               Attendance
            </button>
            <button *ngIf="isAdmin" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-6rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200 mx-3  p-2 sm:w-5rem md:w-6rem" routerLink="employeeprofile">
               Profile
            </button>
            <button *ngIf="isManager" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-8rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200 mx-3  p-2 sm:w-5rem md:w-6rem" routerLink="managerRequest">
                Leave Request 
            </button>
        </div>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2 flex-wrap justify-content-end"
            (click)="toggleDropdown($event, overlayPanel)">
            <p-avatar
                image="https://static.vecteezy.com/system/resources/previews/018/765/757/original/user-profile-icon-in-flat-style-member-avatar-illustration-on-isolated-background-human-permission-sign-business-concept-vector.jpg"
                shape="circle" class="mt-2" />

            <!-- My Account Text -->
            <span class="text-white font-bold ml-2 mt-2">My Account</span>

            <p-overlayPanel #overlayPanel [dismissable]="true" appendTo="body" styleClass="card-overlay">
                <div class="p-card-body">
                    <div class="mt-2">
                        <button *ngIf="isEmployee" pButton label="My Profile" class="p-button-text profile-button"
                           routerLink="profile"></button>
                        <br>
                        <button pButton label="Logout" class="p-button-text profile-button"
                            (click)="navigateTo('logout')"></button>

                    </div> 
                </div>
            </p-overlayPanel>
        </div>
    </ng-template>
</p-toolbar>

<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
