<p-toolbar styleClass=" shadow-4 custom-toolbar p-2 "
[style]="{ 
    'background-image': 'linear-gradient(to left, var(--blue-400), var(--blue-600))', 
    'padding': '2px' 
}">
   
    <div class="flex justify-content-between align-items-center w-full px-3">

        <!-- Logo -->
        <div class="flex align-items-center">
            <img class="w-6rem h-auto"
                src="https://img1.wsimg.com/isteam/ip/957d1ef6-9f8d-4653-a4c2-121d6b896ba7/blob.png/:/rs=h:100,cg=true,m/qt=q:95" />
        </div>

        <!-- Center Navigation Buttons -->
        <div class="flex align-items-center gap-3 flex-wrap justify-content-center">
            <button *ngFor="let item of navItems" routerLinkActive="active-nav-link"
            [routerLinkActiveOptions]="{ exact: true }"
            class="p-link nav-hover inline-flex justify-content-center align-items-center text-white transition-all transition-duration-200 m-1 p-2 square-btn sm:w-5rem md:w-6rem"
                [routerLink]="item.link">
                {{ item.label }}
            </button>
        </div>

        <!-- Right Account Section -->
        <div class="flex align-items-center gap-1 cursor-pointer" (click)="toggleDropdown($event, overlayPanel)">
            <p-avatar
                image="https://static.vecteezy.com/system/resources/previews/018/765/757/original/user-profile-icon-in-flat-style-member-avatar-illustration-on-isolated-background-human-permission-sign-business-concept-vector.jpg"
                shape="circle" styleClass="mt-1" />
            <span class="text-white font-bold ml-1 mt-1">My Account</span>

            <p-overlayPanel #overlayPanel [dismissable]="true" appendTo="body" styleClass="card-overlay">
                <div class="p-card-body">
                    <div class="mt-2">
                        <button pButton label="My Profile" class="p-button-text profile-button"
                            routerLink="profile"></button>
                        <br>
                        <button pButton label="Logout" class="p-button-text profile-button"
                            (click)="navigateTo('logout')"></button>
                    </div>
                </div>
            </p-overlayPanel>
        </div>

    </div>
</p-toolbar>
<div class="page-content">
    <router-outlet></router-outlet>
  </div>
