img{
    height: 50%;
    width: 50%

}

.small-dropdown {
  border: none;
  padding: 0;
  background-color: transparent; 
}
.small-dropdown .p-dropdown-label {
  font-weight: bold;
  color: var(--bluegray-50);
}
.small-dropdown .p-dropdown-item {
  background-color: #fff;
  color: #333;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}
.small-dropdown .p-dropdown-item:hover {
  background-color: #f5f5f5;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: 50%;
  width: 50%;
  object-fit: cover; 
}


.p-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, var(--blue-500), var(--blue-800));
}

.p-toolbar .p-link {
  margin-right: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.p-toolbar .p-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.text-white {
  color: #ffffff;
}

.font-bold {
  font-weight: bold;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.card-overlay .p-card {
  padding: 1rem;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-overlay .p-card-body {
  display: flex;
  flex-direction: column;
}


.card-overlay .p-button-text {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  color: #000;
}

.card-overlay .p-button-text:hover {
  background-color: #000;
}

.profile-button {
  margin-bottom: 1rem;
}

.profile-button, .logout-button {
  margin-bottom: 1rem;
  color: #000;
}



