/* .navbar-header{
    
    color: #fff;
    padding: 10px;
    border-radius: 10px;
  

} */




img{
    height: 50%;
    width: 50%

}
.small-dropdown {
  width: 150px;

}


/* .rcustom-toolbar {
    height: 1rem !important;
} */ 

/* Add this to your CSS file */

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: 50%;
  width: 50%;
  object-fit: cover; /* Add this to maintain aspect ratio */
}

/* Navbar styles */
.p-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, var(--blue-500), var(--blue-800));
}

.p-toolbar .p-link {
  margin-right: 1rem;
  /* padding: 0.5rem 1rem; */
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.p-toolbar .p-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  /* Tablet and mobile styles */
  .p-toolbar {
    flex-wrap: wrap;
  }
  .p-toolbar .p-link {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.8rem;
  }
  .p-toolbar .p-avatar {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  /* Mobile styles */
  .p-toolbar {
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
  }
  .p-toolbar .p-link {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}