::ng-deep .p-password input {
  width: 100% !important;
}

::ng-deep input {
  width: 100% !important;
}

::ng-deep .p-button {
  color: #ffffff;
  /* background: s;
  border: 1px solid #97BC62; */
  padding: 0.75rem 1.25rem;
}

.rotated-image {
  transform: rotate(15deg);
  transition: transform 0.3s ease;
  /* Optional: makes the rotation smooth */
}

.forestgreenColor {
  color: #2C5F2D;
}

.mossgreenColor {
  color: #97BC62;
}

.forestgreenBgColor {
  color: #2C5F2D;
}

.mossgreenBgColor {
  color: #97BC62;
}