.gradient-button {
  background: linear-gradient(to right, #6a11cb, #2575fc); 
  color: white !important;
  border: none !important;
   text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient-button:hover {
  background: linear-gradient(to right, #45cde5, #5f69f1);
}