<section >
  <p-card >
  <div class=" center-container ">

   <div class="text-center">
     <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle" />
     <p class="name">Shubham Sonje</p>
    <p class="Designation">Software Engineer</p>

  </div>
 

 <div class=" flex justify-content-center">
  
    <div class="p-grid">
      <div class="p-col-12 p-md-6 ">
        <div class="p-d-flex p-ai-center mb-2">
          <i class="pi pi-envelope fs-2 mx-2" ></i>
          <p>Email: {{ employee.email }}</p>
        </div>

        <div class="p-d-flex p-ai-center mb-2">
          <i class="pi pi-phone fs-2 mx-2"></i>
          <p>Phone Number: {{ employee.phoneNumber }}</p>
        </div>

        <div class="p-d-flex p-ai-center mb-2">
          <i class="pi pi-calendar fs-2 mx-2"></i>
          <p class="joining-date">Joining Date: <span id="join-date">January 15, 2023</span></p>
        </div>
      </div>
      <div class="p-col-12 p-md-6">
        <div class="p-d-flex p-ai-center mb-2">
          <i class="pi pi-briefcase fs-2 mx-2"></i>
          <p>Department: {{ employee.department }}</p>
        </div>
        <div class="p-d-flex p-ai-center mb-2">
          <i class="pi pi-home fs-2 mx-2"></i>
          <p>Address: {{ employee.address }}</p>
        </div>
      </div>
      <div class="p-col-12 p-md-6">
        <div class="text-center">
          <p-button label="Update Your Details" (click)="updateProfile()" />
        </div>
      </div>
    </div>
 
 </div>
</div>
</p-card>
</section>