<div class="container">
    
    <main>
        <section class="history-list">
            <h2>Event History</h2>
            <ul>
                <li>
                    <time datetime="2024-08-01">August 1, 2024</time>
                    <div class="event-details">
                        <h3>Event Title 1</h3>
                        <p>Details about the first event. This section can contain more information about what happened on this date.</p>
                    </div>
                </li>
                <li>
                    <time datetime="2024-08-15">August 15, 2024</time>
                    <div class="event-details">
                        <h3>Event Title 2</h3>
                        <p>Details about the second event. More information about this date and event goes here.</p>
                    </div>
                </li>

                <li>
                    <time datetime="2024-09-15">September 15, 2024</time>
                    <div class="event-details">
                        <h3>Event Title 3</h3>
                        <p>Details about the second event. More information about this date and event goes here.</p>
                    </div>
                </li>
                
            </ul>
        </section>
    </main>
</div>
    
  



  
