<div class="container p-4">
  <main class="history-list" *ngIf="!isLoading">
    <!-- <h2>History List</h2> -->

    <ng-container *ngIf="hasHistory(); else noHistory">
      <ul>
        <li *ngFor="let item of historyData">
          <div>
           
            <div class="event-details">
              <h3> <strong> <i class="pi pi-history"></i></strong> {{ item.activity || 'No Activity' }}</h3>
            </div>
            <div class="flex justify-content-end text-yellow-900">
              <time ><strong>Date:</strong> {{ item.creationDate | date: 'dd-MM-yyyy' }}</time>

            </div>
          </div>
        </li>
      </ul>
    </ng-container>

    <ng-template #noHistory>
      <div class="text-center text-color-secondary py-5">
        <p>No history records found.</p>
      </div>
    </ng-template>
  </main>
</div>
