<div class="text-xl p-2">
<b text-3xl>Welcome,</b> {{ loggedInUserName }}!</div>
<br>
<!-- Card -->
<div class="container mx-3">
    <div class="grid justify-content-around">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="card max-w-22rem shadow-3">
                <p-card header="Employees">
                    <div class="flex justify-content-between ">
                        <p class="m-0">{{totalEmployees}} Employees</p>
                        <i class="pi pi-users" style="color: #5db6fa; font-size:45px;"></i>
                    </div> 
                </p-card>
            </div>
        </div>

<div class="col-12 md:col-6 lg:col-3">
    <div class="card max-w-22rem shadow-3">
        <p-card header="Department">
            <div class="flex justify-content-between">
                <p class="m-0">4 Department</p>
                <i class=" pi pi-building" style="color: #82f784;  font-size:45px;"></i>
            </div>
        </p-card>
    </div>
 </div>
            
<div class="col-12 md:col-6 lg:col-3">
    <div class="card max-w-22rem shadow-3">
        <p-card header="Projects">
            <div class="flex justify-content-between">
                <p class="m-0">3 Active Projects</p>
                <i class=" pi pi-chart-pie" style="color: #ffd952;  font-size: 45px;"></i>
            </div>
        </p-card>
    </div>
</div>
</div>
</div>
 
<!--Leave Summary Cards -->
<div class="container mx-3 md:mx-8">
    <div class="grid">
        <div class="col-12 md:col-6">
            <div class="cards max-w-42rem shadow-3 p-1">
                <div>
                    <h2>Leave Summary</h2>
                </div>
                <div class="container ml-3 p-5">
                <tr>
                    <td><li>Total Leaves - {{totalLeaves}}</li></td>
                </tr>
                <br>
                <tr>
                    <td><li>Leaves Taken - {{leavesTaken}}</li></td>
                </tr>
                <br>
                <tr>
                    <td><li>Remaining Leaves - {{remainingLeaves}}</li></td>
                </tr>
                </div>
            </div>
        </div>

<!-- Attendance Summary Cards -->
<div class="col-12 md:col-6 lg:col-6">
    <div class="cards max-w-42rem shadow-3 p-1">
        <div>
            <h2>Attendance Summary</h2>
        </div>
        <div class="container ml-3 p-5">
            <tr>
                <td><li>Total Attendance - {{totalAttendance}}</li></td>
            </tr>
            <br>
            <tr>
                <td><li>Absent - {{absent}}</li></td>
            </tr>
            <br>
            <br>
        </div>
    </div>
</div>
</div>
</div>
    
<!-- Card -->
<div class="container mx-3">
    <div class="grid justify-content-around"> 
        <div class="col-12 md:col-6 lg:col-3">
            <div class="card max-w-22rem shadow-3">
                <p-card header="Reports">
                    <div class="flex justify-content-between">
                        <p class="m-0">View/Download Reports</p>
                        <i class=" pi pi-file" style="color: #72c9ac; font-size: 45px;"></i>
                    </div>
                </p-card>
            </div>
        </div>

<div class="col-12 md:col-6 lg:col-3">
    <div class="card max-w-22rem shadow-3">
        <p-card header="Settings">
            <div class="flex justify-content-between">
                <p class="m-0">Configure IceHrm</p>
                <i class=" pi pi-cog" style="color:rgb(111, 111, 238);  font-size: 45px;"></i>
            </div>
        </p-card>
    </div>
</div>
</div>
</div>